{% extends "base.html" %}

{% block content %}
<h1>{{ member.first_name }} {{ member.last_name }}</h1>
<h2>Booked classes:</h2>
    {% if booked_classes == [] %}
    <h3>No classes booked yet!</h3>
    {% endif %}
<section class="view-container">
    {% for class in booked_classes %}
    <div class="class-item">
        <h2 class="text">{{ class.name }}</h2>
        <p class="text">Type: {{ class.type }}</p>
        <p class="text">Date: {{ class.date }}</p>
        <p class="text">Time: {{ class.time }}</p>
    </div>
    {% endfor %}
</section>
    <!-- <hr> -->
<!-- <h2>Sign up for more:</h2> #Not part of MVP
<section class="view-container">
    {% for class in all_classes %}
    <div>
        <h2>{{ class.name }}</h2>
        <p>Type: {{ class.type }}</p>
        <p>Date: {{ class.date }}</p>
        <p>Time: {{ class.time }}</p>
    </div>
    {% endfor %} -->
</section>
{% endblock %}