{% extends "base.html" %}

{% block content %}
<h1 class="view-titles">{{ member.first_name }} {{ member.last_name }}</h1>

<article class="view-member {% if member.active == False %} inactive {% endif %}">
    <h2 class="text">ID number: {{ member.id }}</h2>
    <p class="text">Date of birth: {{ member.dob }}</p>
    <p class="text">Joined: {{ member.join_date }}</p>
    <p class="text">Member status: {% if member.active == True %}
        <span class="active">Active</span>
        {% endif %}
        {% if member.active == False %}
        <span class="inactive-status">Inactive</span>
        {% endif %}
    <p class="text">Membership type: {% if member.premium == True %}
        <span class="premium">Premium</span>
        {% endif %}
        {% if member.premium == False %}
        Standard
        {% endif %}
    </p>
    <div class="button-container">
        <a href="/members/{{ member.id }}/edit" class="edit link-button">Edit member</a>
    </div>
</article>

<h2 class="view-titles">Booked classes:</h2>
    {% if booked_classes == [] %}
    <h3 class="view-titles">No classes booked yet!</h3>
    {% endif %}
<section class="view-container">
    {% for class in booked_classes %}
    <div class="class-item">
        <h2 class="text">{{ class.name }}</h2>
        <p class="text">Type: {{ class.type }}</p>
        <p class="text">Date: {{ class.date }}</p>
        <p class="text">Time: {{ class.time }}</p>
        <div class="remove-container">
            <a href="/members/booked_classes/{{ member.id }}/{{ class.id }}/remove" class="link-button">Remove class</a>
        </div>
    </div>
    {% endfor %}
</section>
    <hr>

<form action="/members/{{ member.id }}/class_search" method="POST">
    <label for="class_search" class="text">Search class name:</label>
    <input type="text" name="search" id="search" placeholder="Enter class name" class="form-input">
    <button type="submit" class="submit-button">Search</button>
</form>

<form action="/members/{{ member.id }}/booked_classes" method="POST">
<h2 class="spaces">Book more classes</h2> 
<button type="submit" class="submit-button">Add members</button>

<section class="view-container">
    {% for class in all_classes %}
        {% if class.id not in all_class_ids %}
            {% if class_search == None or class.name == class_search %}
                <div class="view-member">
                    <h2 class="text">{{ class.name }}</h2>
                    <p class="text">Type: {{ class.type }}</p>
                    <p class="text">Date: {{ class.date }}</p>
                    <p class="text">Time: {{ class.time }}</p>
                    {% if class.members|length >= class.capacity %}
                        <p>Class full</p>
                    {% endif %}
                    {% if class.members|length < class.capacity %}
                        <div class="select-container">
                            <input type="checkbox" name="class_id" id="class_id" value="{{ class.id }}">
                            <label for="class_id">Book class</label>
                        </div>
                    {% endif%}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>
</form>  
{% endblock %}