{% extends "base.html" %}

{% block content %}
    <form action="/members/new" method="POST" class="form-container">
        <div>
            <label for="first_name" class="form-title">First name:</label>
            <input type="text" name="first_name" id="first_name" placeholder="First name" class="form-input" required>
        </div>
        <div>
            <label for="last_name" class="form-title">First name:</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last name" class="form-input" required>
        </div>
        <div>
            <label for="dob" class="form-title">Date of birth: </label>
            <input type="text" name="dob" id="dob" placeholder="dd/mm/yy" class="form-input" required>
        </div>
        <div>
            <label for="join_date" class="form-title">Date joined: </label>
            <input type="text" name="join_date" id="join_date" placeholder="dd/mm/yy" class="form-input" required>
        </div>
        <div>
            <label for="premium-status" class="form-title">Membership type: </label>
            <select name="premium-status" value="Standard" class="form-input" required>
                <option value="standard">Standard</option>
                <option value="premium">Premium</option>
            </select>
        </div>
        <button type="submit" class="submit-button">Add member</button>
    </form>
{% endblock %}