{% extends "base.html" %}

{% block content %}
<h1>{{ class_name }}</h1>
<h2>Booked members:</h2>
    {% if booked_members == [] %}
    <h3>No sign-ups yet!</h3>
    {% endif %}
<section class="view-container">
    {% for member in booked_members %}
        <div class="member-item">
            <h3 class="text">{{ member.last_name }}, {{ member.first_name }}</h3>
            <p class="text">Date of birth: {{ member.dob }}</p>
            <p class="text">Date joined: {{ member.join_date }}</p>
            <p class="text">Member ID: {{ member.id }}</p>
            <a href="/classes/booked_members/{{ member.id }}/{{ gym_class.id }}/remove">Remove member from class</a>
        </div>
    {% endfor %}
</section>
    <hr>
<h2>Sign up more:</h2>
<h3>Available spaces: {{ gym_class.capacity - number_attendees }}</h3>
<section class="view-container">
    <form action="/classes/{{ gym_class.id }}/booked_members" method="POST">
    {% for member in all_members %}
    {% if member.id not in all_member_ids %}
    <div class="member-item">
        <h3 class="text">{{ member.last_name }}, {{ member.first_name }}</h3>
        <p class="text">Date of birth: {{ member.dob }}</p>
        <p class="text">Date joined: {{ member.join_date }}</p>
        <p class="text">Member ID: {{ member.id }}</p>
        {% if number_attendees < gym_class.capacity %}
        <input type="checkbox" name="member_id" id="member_id" value="{{ member.id }}">
        <label for="member_id">Add to class</label>
        <!-- <a href="/classes/{{ member.id }}/{{ id }}/add_member" class="add-member">Add to class</a> -->
        {% endif %}
        {% if number_attendees >= gym_class.capacity %}
        <p class="">Class full</p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit">Add members</button>
    </form>
</section>
{% endblock %}