{% extends "base.html" %}

{% block content %}
<h1>{{ class_name }}</h1>
<h2>Booked members:</h2>
    {% if booked_members == [] %}
    <h3>No sign-ups yet!</h3>
    {% endif %}
<section class="view-container">
    {% for member in booked_members %}
        <div class="member-item">
            <h3 class="text">{{ member.last_name }}, {{ member.first_name }}</h3>
            <p class="text">Date of birth: {{ member.dob }}</p>
            <p class="text">Date joined: {{ member.join_date }}</p>
            <p class="text">Member ID: {{ member.id }}</p>
        </div>
    {% endfor %}
</section>
    <hr>
<h2>Sign up more:</h2>
<section class="view-container">
    
    {% for member in all_members %}
    {% if member.id not in all_member_ids %}
    <div class="member-item">
        <h3 class="text">{{ member.last_name }}, {{ member.first_name }}</h3>
        <p class="text">Date of birth: {{ member.dob }}</p>
        <p class="text">Date joined: {{ member.join_date }}</p>
        <p class="text">Member ID: {{ member.id }}</p>
        <a href="/classes/{{ member.id }}/{{ id }}/add_member" class="submit-button">Add to class</a>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}