{% extends "base.html" %}

{% block content %}
<form action="/classes/member_search" method="POST">
    <label for="class_search" class="text">Search for a member:</label>
    <input type="text" name="search" id="search" placeholder="Enter class name" class="form-input">
    <button type="submit" class="submit-button">Search</button>
</form>
<section class="view-container">
    {% for class in all_classes %}
        {% if class_search == None or class.name == class_search %}
        <article class="class-item">
            <div class="class-heading">
            <h2 class="text inline short">{{ class.name }}</h2>
            <a href="/classes/{{ class.id }}/delete" class="link-button delete-button inline"><img src="static/images/trash-2-256.png" alt="white bin icon" class="bin"></a>
            </div>
            <p class="text">Type: {{ class.type }}</p>
            <p class="text">Date: {{ class.date }}</p>
            <p class="text">Time: {{ class.time }}</p>
            <p class="text">Capacity: {{ class.capacity }}</p>
            <div class="button-container">
                <a href="/classes/{{ class.id }}/view" class="view-items link-button">See members</a>
                <a href="/classes/{{ class.id }}/edit" class="edit link-button">Edit class</a>
            </div> 
        </article>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}