body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: 100px auto 120px;
}

main {
    grid-area: main;
}

nav {
    background-color: blue;
    color: white;
    list-style-type: none;
    grid-area: nav;
}

a {
    list-style-type: none;
    color: black
}

footer {
    background-color: green;
    color: white;
    display: grid;
    align-items: center;
    grid-template-areas: 
        "title contact address";
    grid-template-columns: 150px auto 150px;
    grid-area: footer;
    margin: 0;
}

header {
    background-color: green;
    display: flex;
    flex-direction: row;
    grid-area: header;
    color: white;
}

.head-title {
    padding: 0 0 0 10px;
}

.home-button {
    background-color: rgb(2, 82, 2);
    justify-content: center;
    width: 100px
}

.view-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.class-item {
    background-color: lightgrey;
    margin: 5px;
}

.member-item {
    background-color: lightgrey;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.view-items {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: #000000;
    width: auto;
    transition: 1s;
}

.view-items:hover {
    background-color: rgb(0, 109, 128);
}

.edit {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: orange;
    color: black;
    width: auto;
    transition: 1s;
}

.edit:hover {
    background-color: rgb(255, 230, 0);
}

.button-container {
    display: flex;
    margin: 0;
    flex-direction: row;
    width: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.form-input {
    background-color: rgb(168, 198, 255);
    color: darkslategray;
    border: 0;
    padding: 10px;
    margin: 5px;
}

.submit-button {
    background-color: green;
    color: white;
    border: 0;
    padding: 10px;
    transition: 1s;
}

.submit-button:hover {
    background-color: rgb(192, 102, 0);
}

.text {
    padding: 0 10px 0 10px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    padding: 15px 0 15px 10px;
    transition: 1s;
}

li:hover {
    background-color: rgb(107, 0, 247);
}

.link-button {
    text-decoration: none;
}

.footer-title {
    padding: 0 0 0 20px;
}

.footer-contact {
    padding: 0;
}

.footer-address {
    padding: 0 0 10px 0;
}

.add-member {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: #000000;
    width: auto;
    text-align: center;
    transition: 1s;
    text-decoration: none;
}

.add-member:hover {
    background-color: rgb(0, 109, 128);
}

.inactive {
    background-color: rgb(129, 129, 129);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.premium {
    color: rgb(255, 171, 16);
    font-weight: bold;
}

.active {
    color: green;
}

.inactive-status {
    color: red;
}

.select-container {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: orange;
    color: black;
    width: auto;
    transition: 1s;
    display: inline-block;
}

.remove-container {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: black;
    width: auto;
    transition: 1s;
}

.inline {
    display: inline-block;
}