<html>
    <head>
        <title class="head-title"> Gymini - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <a href="/" class="home-button"><img src="/static/images/home-7-512.png" alt="white home icon" class="home"></a>
            <img class="logo" src="/static/images/gemini-512.png">
            <h1 class="base-title">Gymini - {{ title }}</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/members" class="nav-links">Members</a>
                </li>
                <li>
                    <a href="/members/new" class="nav-links">Add member</a>
                </li>
                <li>
                    <a href="/classes" class="nav-links">Classes</a>
                </li>
                <li>
                    <a href="/classes/new" class="nav-links">Add class</a>
                </li>
            </ul>
        </nav>
        <main>
    
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            <h2 class="footer-title">Gymini</h2>
            <p class="footer-contact">Contact us: 0131 331 1133</p>
            <address class="footer-address">
                <p>12 Bread St</p>
                <p>Edinburgh</p>
                <p>EH1 23A</p>
            </address>
        </footer>
    </body>
</html>